<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<div class="alert alert-success" *ngIf="success">{{ success }}</div>

<div id="list-companies" class="content">
    <div id="title" class="col-6 row">
        <h2>Empresas</h2>
        &nbsp;
        <div class="add-icon">
            <a routerLink="/company/register">
                <!-- Novo -->
                <i class="material-icons">add_circle_outline</i>
            </a>
        </div>
    </div>

  <div>
      <table border='1' width='100%' >
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
            <tr *ngFor="let company of companies">
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>
                   <a [routerLink]="['/company/detail/', company.id, 'company']">
                    <!-- Visualizar -->
                    <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                   &nbsp;
                   <a routerLink="/company" 
                       (click)="deleteCompany(company)">
                       <!-- Remover -->
                       <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
      </table>
  </div>
</div>
