<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<div class="alert alert-success" *ngIf="success">{{ success }}</div>

<div id="list-employees" class="content">
    <div id="title" class="col-6 row">
        <h2>Funcionários</h2>
        &nbsp;
        <div class="add-icon">
            <a routerLink="/employee/register">
                <!-- Novo -->
                <i class="material-icons">add_circle_outline</i>
            </a>
        </div>
    </div>

  <div>
      <table border='1' width='100%'>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Login</th>
                <th>Ação</th>
            </tr>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.cpf }}</td>
                <td>{{ employee.login }}</td>
                <td>
                    
                   <a [routerLink]="['/employee/detail/', employee.id, 'employee']">
                    <!-- Visualizar -->
                    <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                   &nbsp;
                   <a routerLink="/employee" 
                       (click)="deleteEmployee(employee)">
                       <!-- Remover -->
                       <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
      </table>
  </div>
</div>
